<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ListOfProduct.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>ShopCartServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>DisplayCartServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>DeleteFromCartServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
    </filter-mapping>

</web-app>